<div class="header">
    <div class="wrapp">
        <a href="/" class="home__page">Home</a>
    <ul class="list">
        <li class="iteam"><a href="/name/create" class="header__link">Create Name</a></li>
        <li class="iteam"><a href="/name/update" class="header__link">Update</a></li>
        <li class="iteam"><a href="#" class="header__link"></a>Other</li>
    </ul>
    </div>
</div>