<div class="one app">
    <h1>Create Name</h1>
    <form action="/name/namecreate" method="POST">
        <div class="form_group">
            <label for="name">Name</label>
            <input type="text" name="name">
        </div>
        
        <div class="form_group">
                <label for="color">Color</label>
                <input type="text" name="color">
        </div>
        
        <div class="form_group">
            <label for="age">Age</label>
            <input type="text" name="age">
        </div>
        
        <button type="submit">Create</button>
    </form>
</div>