

<div class="app ">
       <div class="heading">
           <h1>All Employes</h1>
       </div>
     <div class="container row">
      {{#each duongs}}
          <div class="l-2-4 one">
            <a href="/name/{{this.slug}}"><h1>{{this.name}}</h1></a>
            <h3>{{this.color}}</h3>
            <h3>{{this.age}}</h3>
          </div>
      {{/each}}
        
     </div>

 </div>